.imp{
    border-image: url(../assets/peacock_closeup_picture_168794.jpg);
}

.divi{
    width: 500px;
    height: 500px;
    background-color: burlywood;
    border: 3em solid;
    border-image: url(./assests/images/6087f2b060c7a92408bac811_logo.svg);
}